<nav class="bg-white border-gray-200 dark:bg-gray-900 mt-5">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="https://flowbite.com/" class="flex items-center">
      <img src="assets/images/logo.svg" class="h-12 mr-3" alt="Flowbite Logo" />
    </a>
    <button data-collapse-toggle="navbar-default" type="button"
      class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"></path>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li class="py-3">
          <a href="#"
            class="block py-2 pl-3 pr-4   rounded font-semibold md:bg-transparent text-gray-900 md:p-0 dark:text-white md:dark:text-blue-500"
            aria-current="page">Home</a>
        </li>
        <li class="py-3">
          <a href="#"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
        </li>
        <li class="py-3">
          <a href="#"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Services</a>
        </li>
        <li class="py-3">
          <a href="#"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Pricing</a>
        </li>
        <li class="py-3">
          <a href="#"
            class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
        </li>
        <li>
          <button type="button"
            class="text-white bg-primary border  hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium  text-sm px-8 py-3.5 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Contact
            Us</button>

        </li>
      </ul>
    </div>
  </div>
</nav>

<section>
  <h1 class="md:text-6xl font-bold text-center md:mt-36 mt-16 text-4xl">Minimalist Room</h1>
  <p class="text-center md:text-lg md:w-96 text-sm w-[80%] mx-auto mt:mt-10 mt-4">It is a long established fact that a
    reader will be distracted by the readable content of a page when looking at its layout.</p>

  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto mt-16">
    <img class="w-[100%] h-[auto] px-4" src="assets/images/home-image.jpg" alt="">

    <div class="grid md:grid-cols-2 grid-cols-1 p-4 gap-8 md:mt-16 md:8">
      <div class="mr-3">
        <h3 class="font-semibold md:text-2xl text-xl md:my-6 my-4 text-header">Project Overview</h3>
        <p class="md:text-lg text-normal">Online learning with us does not interfere with your daily life. because
          learning
          can be done anytime and
          anywhere. Online learning with us does not interfere with your daily life. because learning can be done
          anytime and anywhere. Online learning with us does not interfere with your daily life. because learning can be
          done anytime and anywhere. </p>

        <p class="text-lg text-normal md:mt-12 mt-5"><span class="mr-10"> July 22 - 2022 </span>
          <span>Interior Design - Furniture </span>
        </p>
      </div>
      <div>
        <h3 class="font-semibold md:text-2xl text-xl md:my-6 my-4 text-header">Design Process</h3>
        <p class="md:text-lg text-normal"> Online learning with us does not interfere with your daily life. because
          learning can be done anytime and
          anywhere. Online learning with us does not interfere with your daily life. because learning can be done
          anytime and anywhere.</p>
        <p class="md:text-lg text-normal mt-10">
          Online learning with us does not interfere with your daily life. because learning can be done anytime and
          anywhere. Online learning with us does not interfere with your daily life. because learning can be done
          anytime and anywhere.
        </p>
      </div>
    </div>

    <div class="w-screen grid md:grid-cols-2 gap-8 md:mt-16 mt-8 md:p-0 p-4">
      <div>
        <picture>
          <img class="w-[100%] h-[auto]" src="assets/images/1.jpg" alt="">
        </picture>
      </div>
      <div>
        <picture>
          <img class="w-[100%] h-[auto]" src="assets/images/2.jpg" alt="">
        </picture>
      </div>
    </div>

    <div class="w-screen grid md:grid-cols-1 gap-8 md:mt-8 mt-4 md:p-0 p-4">
      <picture>
        <img class="w-[100%] h-[auto]" src="assets/images/5.jpg" alt="">
      </picture>
    </div>

    <div class="w-screen grid md:grid-cols-2 gap-8 md:mt-8 mt-4 md:p-0 p-4">
      <div>
        <picture>
          <img class="w-[100%] h-[auto]" src="assets/images/3.jpg" alt="">
        </picture>
      </div>
      <div>
        <picture>
          <img class="w-[100%] h-[auto]" src="assets/images/4.jpg" alt="">
        </picture>
      </div>
    </div>

  </div>

  <div class="bg-primary mt-10">

    <div class="max-w-screen-xl  flex flex-wrap items-center justify-between mx-auto py-10">
      <div class=" grid md:grid-cols-2 gap-8 gap-8 w-[100%]  my-10">
        <div>
          <h3 class="mx-10 md:mx-5 text-white font-bold md:text-4xl text-2xl !leading-[61px]">let's discuss making your interior like a
            dream place!</h3>
        </div>

        <div>
          <p class="mx-10  text-[#D9D9D9] text-lg">
            Contact us below to work together to build your <br> amazing interior
          </p>
          <button type="button"
            class="text-primary ml-10 mt-4 bg-white border  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium  text-sm px-8 py-3.5 text-center mr-3 md:mr-0 dark:bg-blue-600 ">Contact
            Us</button>
        </div>
      </div>
    </div>
  </div>


</section>
<footer class="">

  <div class="max-w-screen-xl  flex flex-wrap items-center justify-between mx-auto py-10">
    <div class=" grid md:grid-cols-2 gap-8 gap-8 w-[100%]  mt-10">
      <div>
        <img src="assets/images/logo.svg" class="h-12 mx-10 md:mx-5" alt="Flowbite Logo" />

        <h3 class="mx-10 md:mx-5 mt-6 text-header font-bold md:text-4xl text-2xl !leading-[61px]">One of the best furniture agency.
        </h3>
      </div>

      <div>

        <div class=" mx-10 mt-10 w-[80%]">
          <label for="email" class="block md:text-xl mb-2 text-sm font-medium text-gray-900 dark:text-white">  <span style="border-radius: 50%; width: 14px; height: 14px; display: inline-block; background-color: black; margin-right: 5px;"></span>   Enter  your email to get the laterst news</label>
          <input type="text" id="email" class=" mt-5 border-b-2 border-gray-300 text-gray-900 text-sm  focus:ring-0 focus:ring-offset-0 block w-full p-2.5 " placeholder="Email Address" required>
      </div>

        <div class="grid md:grid-cols-2 grid-cols-1 mt-10">
          <div class="hidden md:block"></div>
          <div>
            <p class="md:text-left text-center">Follow us On</p>
            <div class="flex flex-row mx-auto mt-3 md:justify-start justify-center">
              <span class="icons mr-4"><img class="" src="assets/images/icon/facebook.svg" alt=""></span>
              <span class="icons mr-4"><img class="" src="assets/images/icon/instagram.svg" alt=""></span>
              <span class="icons mr-4"><img class="" src="assets/images/icon/tiktok.svg" alt=""></span>
              <span class="icons mr-4"><img class="" src="assets/images/icon/youtube.svg" alt=""></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>